.hero {
    min-height: 20vh;
    background: url("/img/trenitalia_cover.jpg") center / cover no-repeat;
}

.full-bg {
    min-height: 80vh;
    background: url("/img/trenitalia_body.jpg") center / cover no-repeat;
}

.glass {
    background: rgba(255, 255, 255, 0.55);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.6px);
    -webkit-backdrop-filter: blur(10.6px);
    border: 1px solid rgba(255, 255, 255, 1);


}


.glass-ticket {
    background: rgba(132, 132, 132, 0.75);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(132, 132, 132, 0.02);

}